<%= form_with model: @running, local: true do |form| %>
  <% if @running.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(running.errors.count, "error") %> prohibited this running from being saved:</h2>

      <ul>
      <% running.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :"体調" %>
  </div>
  <%= form.collection_select(:condition_id, Condition.all, :id, :name, {}, {class:"select-box", id:"running-condition"}) %>

  <div class="field">
    <%= form.label :"走行、歩行距離" %>
  </div>
  <div><%= form.collection_select(:distance_id, Distance.all, :id, :name, {}, {class:"select-box", id:"running-distance"}) %>(km)</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
