<p id="notice"><%= notice %></p>

<header>
   <div class="heading">
      <h1 class="title">
        <%= link_to "運動日記", runnings_path %>
      </h1>
   </div>
   <div class="navbar">
           <% if user_signed_in? %>
               <ul class="nav-lists">
                  <li><h3><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__btn %></h3></li>
                    <% else %>
                  <li><h3><%= link_to "新規登録", new_user_registration_path, class: :nav__botn %></h3></li>
                  <li><h3><%= link_to "ログイン", new_user_session_path, class: :nav__botn %></h3></li>
                </ul>
            <% end %>
        </div>
</header>

<% if user_signed_in? %>
    <table>
      <thead>
        <tr>
          <th>メニュー</th>
          <th>開始時間</th>
          <th>終了時間</th>
          <th>体調</th>
          <th>走行、歩行距離</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
         <% @runnings.each do |running| %>
           <tr>
             <td><%= running.title %></td>
             <td><%= running.start_date %></td>
             <td><%= running.end_date %></td>
             <td><%= running.condition.name %></td>
             <td><%= running.distance.name %>(km)</td>
             <td><%= link_to '編集', running %></td>
             <td><%= link_to '詳細', edit_running_path(running) %></td>
             <td><%= link_to '削除', running, method: :delete, data: { confirm: 'Are you sure?' } %></td>
           </tr>
         <% end %>
      </tbody>
    </table>
    <%= link_to '運動の記録', new_running_path %>

    <%= link_to '予定の詳細はこちらから', root_path%>

    <footer>
      <h2>今月の走行距離は、</h2>
         <% @runnings.each do |running| %>
            <%= running.distance.name %>
          <% end %>
      <h2>です。</h2>
    </footer>

    
<% end %>

<br>


<div id="calendar"></div>