<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @running.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @running.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @running.end_date %>
</p>

<%= link_to 'Edit', edit_running_path(@running) %> |
<%= link_to 'Back', runnings_path %>
