<!DOCTYPE html>
<html>
  <head>
    <title>Calendar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-turbolinks="false">
  　　<header>
        <div class="heading">
           <h1 class="title">カレンダー</h1>
        </div>
        <div class="navbar">
           <ul class="nav-lists">
             <% if user_signed_in? %>
               <li><h3><%= link_to 'ログアウト', destroy_user_session_path, methed: :delete, class: "logout" %></h3></li>
             <% else %>
               <li><h3><%= link_to '新規登録', new_user_registration_path, class: "sigh-up" %></h3></li>
               <li><h3><%= link_to 'ログイン', new_user_session_path, class: "login" %></h3></li>
              <% end %>
            </ul>
        </div>
      </header>
    <%= yield %>
  </body>
</html>
